@using OnlineShop.Areas.Admin.Models
@model LoginClass
@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_AuthLayout.cshtml";
}
 <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form asp-action="Login" asp-controller="Home" asp-area="Admin" method="post">
      <div class="form-group has-feedback">
        <input asp-for="Email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input asp-for="Password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  

    <a href="#">I forgot my password</a><br>
    <a asp-action="Register" asp-controller="Home" asp-area="Admin" class="text-center">Register a new membership</a>

  </div>
